workflows/6JcK0zB0GgGwNEua_control-de-errores.json

{
  "name": "CONTROL DE ERRORES",
  "path": "workflows/6JcK0zB0GgGwNEua_control-de-errores.json\n",
  "url": "https://api.github.com/repos/cristinasotocsr-spec/udia-ok/contents/workflows/6JcK0zB0GgGwNEua_control-de-errores.json%0A?ref=main",
  "html_url": "https://github.com/cristinasotocsr-spec/udia-ok/blob/main/workflows/6JcK0zB0GgGwNEua_control-de-errores.json%0A",
  "git_url": "https://api.github.com/repos/cristinasotocsr-spec/udia-ok/git/blobs/6ba5e414016502a9d7ca6bbe830f22e50af20f9f",
  "createdAt": "2025-10-07T07:51:31.187Z",
  "updatedAt": "2025-10-07T08:15:28.000Z",
  "id": "6JcK0zB0GgGwNEua",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -48
      ],
      "id": "a8c8b42c-ad2f-45a6-8099-7d6a0c9b350a",
      "name": "When chat message received",
      "webhookId": "87f8ff06-1702-4b81-b32f-41302d500476"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5fc33143-2cee-47dd-9c02-8f77935402a5",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "=hola",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -304,
        -48
      ],
      "id": "a1e8caf5-be42-4539-a25b-3bb8a52c4f97",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Ha ocurrido un error, TE ENVIAMOS tELEGRAM"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -96,
        48
      ],
      "id": "80b419ea-a4b0-4fb5-98c8-3ed93cb3cfa6",
      "name": "Stop and Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -96,
        -144
      ],
      "id": "bbd04933-ee6b-459b-ba32-e7b52b46565f",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "N6mO1QoW6FnJffAZ",
    "timezone": "Europe/Madrid"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "920e9ccd-6287-4ad3-a5ea-fa0b275920a2",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-07T07:51:31.192Z",
      "updatedAt": "2025-10-07T07:51:31.192Z",
      "role": "workflow:owner",
      "workflowId": "6JcK0zB0GgGwNEua",
      "projectId": "aL85WRDDRjE1DXrF"
    }
  ],
  "tags": [],
  "github_path": "workflows/6JcK0zB0GgGwNEua_control-de-errores.json"
}