workflows/7xy5kFuyIPfZuQYS_1-proyecto-marmolesintegracion-de-chatbot.json

{
  "createdAt": "2025-10-10T16:00:46.207Z",
  "updatedAt": "2025-10-10T16:35:23.000Z",
  "id": "7xy5kFuyIPfZuQYS",
  "name": "1 (Proyecto marmoles).Integración de chatbot",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1J3Mcl1kGOHkLojPiur9ss7EBxTSmwgYT",
          "mode": "list",
          "cachedResultName": "PROYECTO DANI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1J3Mcl1kGOHkLojPiur9ss7EBxTSmwgYT"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "356162a6-2850-4771-8eb2-20ba8dad5b67",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xCmeDrpAGnBOdime",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        0
      ],
      "id": "20e6a027-a3c8-4610-a7ca-5133aed958c7",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xCmeDrpAGnBOdime",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "proyecto",
          "mode": "list",
          "cachedResultName": "proyecto"
        },
        "options": {
          "pineconeNamespace": "proyecto_rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        0
      ],
      "id": "0f38981e-380b-4bca-89f6-2d89f401769a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "wC5K70L1bUf3fjBT",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        192
      ],
      "id": "7eea173e-57bf-4d00-82f2-65bbb82c052d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "9SxawbUc5zt8E3c9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        384,
        192
      ],
      "id": "87c851ef-197d-4983-8686-cfcf5a6f6e3c",
      "name": "Default Data Loader"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ee53e550-5ce4-4d2c-ad5d-40aa341d4698",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-10T16:00:46.210Z",
      "updatedAt": "2025-10-10T16:00:46.210Z",
      "role": "workflow:owner",
      "workflowId": "7xy5kFuyIPfZuQYS",
      "projectId": "aL85WRDDRjE1DXrF"
    }
  ],
  "tags": [],
  "github_path": "workflows/7xy5kFuyIPfZuQYS_1-proyecto-marmolesintegracion-de-chatbot.json"
}
