workflows/creacion-de-rag.json
{
  "createdAt": "2025-10-09T10:06:31.830Z",
  "updatedAt": "2025-10-09T11:28:44.000Z",
  "id": "psf5i0E5Ttkp6yeQ",
  "name": "CREACIÓN DE RAG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1tX80nYgk3Uwmq0Gb-VSoix5k9bHJjedO",
          "mode": "list",
          "cachedResultName": "RAG_UDIA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tX80nYgk3Uwmq0Gb-VSoix5k9bHJjedO"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        16
      ],
      "id": "483dd645-b7fc-4197-95d1-c7fbe9e657d9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xCmeDrpAGnBOdime",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        48
      ],
      "id": "d5391264-a72f-41ec-99ff-21371f9cd551",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xCmeDrpAGnBOdime",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        48,
        240
      ],
      "id": "c358e632-5ea1-431e-b372-3379ef27fbdc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        256
      ],
      "id": "1841ec2e-a563-4819-aa11-12023bb42f16",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "9SxawbUc5zt8E3c9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia2",
          "mode": "list",
          "cachedResultName": "ragudia2"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "udia_rac"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -48,
        48
      ],
      "id": "8cf65b63-800c-4abd-9bce-265387b7299a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "wC5K70L1bUf3fjBT",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5fccb89f-a508-4f4b-b2b6-b2707793a7d8",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-09T10:06:31.832Z",
      "updatedAt": "2025-10-09T10:06:31.832Z",
      "role": "workflow:owner",
      "workflowId": "psf5i0E5Ttkp6yeQ",
      "projectId": "aL85WRDDRjE1DXrF"
    }
  ],
  "tags": []
}