workflows/dLSKzs7ci9QBjy66_loops.json

{
  "createdAt": "2025-10-15T10:49:23.740Z",
  "updatedAt": "2025-10-15T11:38:33.000Z",
  "id": "dLSKzs7ci9QBjy66",
  "name": "loops",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        0
      ],
      "id": "6c04251e-c56f-490d-8f01-114899f918d6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -496,
        0
      ],
      "id": "7bb387d3-4a63-4c6c-809a-a508bc1f3809",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        0
      ],
      "id": "c635a0e6-da28-4ee9-82bb-b1b35891044b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f05110c-7e60-4786-bb12-26a0e3fe8032",
              "name": "titulo_modificado",
              "value": "=CRIS: {{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        16
      ],
      "id": "a8fda4fc-6159-4880-a92c-7933c8f0d560",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1v0RUA_Dd4UcnxPzkw0r7HmvyXcwu4pLD--9pEqiUIoc",
          "mode": "list",
          "cachedResultName": "ejercicio loop",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v0RUA_Dd4UcnxPzkw0r7HmvyXcwu4pLD--9pEqiUIoc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v0RUA_Dd4UcnxPzkw0r7HmvyXcwu4pLD--9pEqiUIoc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TÍTULO": "={{ $json.titulo_modificado }}",
            "DESCRIPCIÓN": "={{ $('Loop Over Items').item.json.content }}",
            "AUTOR": "={{ $('Loop Over Items').item.json.creator }}",
            "FECHA": "={{ $('Loop Over Items').item.json.isoDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TÍTULO",
              "displayName": "TÍTULO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DESCRIPCIÓN",
              "displayName": "DESCRIPCIÓN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AUTOR",
              "displayName": "AUTOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        16
      ],
      "id": "91c92ecb-37bd-4c75-a728-8f48e07f2fb3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5I3SYcfOawh6U4zW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1224561684",
        "text": "¡Loop completado!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        -176
      ],
      "id": "056c7266-9a04-477d-8099-da2395c28cdb",
      "name": "Send a text message",
      "webhookId": "91b222da-6a1c-40c4-ba11-b1efa84396b9",
      "credentials": {
        "telegramApi": {
          "id": "vFnOiVv6rr77JNuj",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cece6016-2d44-4023-ad88-1e820be5960b",
              "leftValue": "={{ $json.creator }}",
              "rightValue": "Anna Lagos",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -288,
        0
      ],
      "id": "34e0327b-4f85-406f-84ad-a66f8e88a3e3",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        320,
        -96
      ],
      "id": "5ec17e6a-678d-40a6-b33f-a1ccda0294c4",
      "name": "Limit"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4a132be1-d662-4d9a-baf6-5f08b0ee8278",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-15T10:49:23.743Z",
      "updatedAt": "2025-10-15T10:49:23.743Z",
      "role": "workflow:owner",
      "workflowId": "dLSKzs7ci9QBjy66",
      "projectId": "aL85WRDDRjE1DXrF"
    }
  ],
  "tags": [],
  "github_path": "workflows/dLSKzs7ci9QBjy66_loops.json"
}
