workflows/f4plOlNdvhdpah1f_agente-ia-con-memoria-y-tools.json

{
  "name": "Agente IA con memoria y tools",
  "path": "workflows/f4plOlNdvhdpah1f_agente-ia-con-memoria-y-tools.json\n",
  "url": "https://api.github.com/repos/cristinasotocsr-spec/udia-ok/contents/workflows/f4plOlNdvhdpah1f_agente-ia-con-memoria-y-tools.json%0A?ref=main",
  "html_url": "https://github.com/cristinasotocsr-spec/udia-ok/blob/main/workflows/f4plOlNdvhdpah1f_agente-ia-con-memoria-y-tools.json%0A",
  "git_url": "https://api.github.com/repos/cristinasotocsr-spec/udia-ok/git/blobs/98572248ba112cbd5640039cc66dd1cca8b7b89d",
  "createdAt": "2025-10-07T09:23:49.087Z",
  "updatedAt": "2025-10-08T14:49:50.000Z",
  "id": "f4plOlNdvhdpah1f",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        -16
      ],
      "id": "e70f864e-d321-4fe9-9c05-2d1b85a13606",
      "name": "When chat message received",
      "webhookId": "4ebbc03c-eea6-4bc5-83c4-8d9254b5183e"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1EV99hQ0Lg71Y0ryeUKxnrsmYEI-dU_nqdRKkurzVRVc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EV99hQ0Lg71Y0ryeUKxnrsmYEI-dU_nqdRKkurzVRVc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "BUSQUEDA": "={{ $json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "BUSQUEDA",
              "displayName": "BUSQUEDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RESPUESTA",
              "displayName": "RESPUESTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        -16
      ],
      "id": "ea001712-1d2a-4fcf-95ae-fd52bf8ff9d9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5I3SYcfOawh6U4zW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente que me ayuda a buscar en Google con la herramienta: API GOOGLE todas las URL de la busqueda que te pida por chat el usuario\nSiempre contestarás únicamente el listado de nombres y URLs que vengan de la herramienta API GOOGLE"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -80,
        -16
      ],
      "id": "e94c6912-8a48-4e31-b96c-1cd54726667d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -304,
        208
      ],
      "id": "b49f7388-7077-4553-8b1f-332e2c427c75",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9SxawbUc5zt8E3c9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        208
      ],
      "id": "fb595213-5c7e-4dc2-ac82-91b7b0170dbd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Esta tool busca en google usando los términos que indica el usuario",
        "url": "https://real-time-web-search.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "vacaciones en cadiz"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "real-time-web-search.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "7e959e0446msh3e9458fb94f8dfap1135a7jsn71e20f0a720d"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -48,
        208
      ],
      "id": "4212b4b4-d373-499d-931b-20d0ca39b6fb",
      "name": "API GOOGLE"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"nombre\": \"Nombre de la web 1\",\n    \"url\": \"https://miweb1.com\"\n  }\n]\n \n\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        112,
        208
      ],
      "id": "15559d72-61f1-4b74-81e7-40b7ddfba5e7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1EV99hQ0Lg71Y0ryeUKxnrsmYEI-dU_nqdRKkurzVRVc/edit?usp=drivesdk",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EV99hQ0Lg71Y0ryeUKxnrsmYEI-dU_nqdRKkurzVRVc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "BUSQUEDA": "={{ $('Append row in sheet').item.json.BUSQUEDA }}",
            "RESPUESTA": "={{ $json.output }}"
          },
          "matchingColumns": [
            "BUSQUEDA"
          ],
          "schema": [
            {
              "id": "BUSQUEDA",
              "displayName": "BUSQUEDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESPUESTA",
              "displayName": "RESPUESTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        -16
      ],
      "id": "2e1bd1ee-f395-4db3-b953-a6ccb4ec260f",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5I3SYcfOawh6U4zW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "API GOOGLE": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2f82dc7e-81cf-4249-a5e0-2bc31d4cf705",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-07T09:23:49.089Z",
      "updatedAt": "2025-10-07T09:23:49.089Z",
      "role": "workflow:owner",
      "workflowId": "f4plOlNdvhdpah1f",
      "projectId": "aL85WRDDRjE1DXrF"
    }
  ],
  "tags": [],
  "github_path": "workflows/f4plOlNdvhdpah1f_agente-ia-con-memoria-y-tools.json"
}