workflows/SSm5iZzYfWCI8GTJ_http-variable.json

{
  "name": "http variable",
  "path": "workflows/SSm5iZzYfWCI8GTJ_http-variable.json\n",
  "url": "https://api.github.com/repos/cristinasotocsr-spec/udia-ok/contents/workflows/SSm5iZzYfWCI8GTJ_http-variable.json%0A?ref=main",
  "html_url": "https://github.com/cristinasotocsr-spec/udia-ok/blob/main/workflows/SSm5iZzYfWCI8GTJ_http-variable.json%0A",
  "git_url": "https://api.github.com/repos/cristinasotocsr-spec/udia-ok/git/blobs/5f0a57c8348a3761a923da29eeb40df9f0aac09a",
  "createdAt": "2025-10-03T06:42:37.694Z",
  "updatedAt": "2025-10-03T07:26:49.000Z",
  "id": "SSm5iZzYfWCI8GTJ",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        16
      ],
      "id": "210c13e5-19e4-4f7a-aff5-d4b94ef57bb6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb55e3a4-2563-41fe-932b-d06def547bab",
              "name": "URL",
              "value": "https://exercisedb.p.rapidapi.com/exercises",
              "type": "string"
            },
            {
              "id": "fa1be6cd-bf91-4a14-a581-329b5b730661",
              "name": "limit",
              "value": "2",
              "type": "string"
            },
            {
              "id": "17d3444e-5f4f-4a52-923c-15f190ac40ea",
              "name": "apikey",
              "value": "7e959e0446msh3e9458fb94f8dfap1135a7jsn71e20f0a720d",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        16
      ],
      "id": "c95503aa-1293-4575-837b-db2797a6249c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}/targetList",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=limit",
              "value": "={{ $json.limit }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "exercisedb.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        240
      ],
      "id": "47c03a81-5ec1-4586-9f5e-df0f12cac376",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "exercisedb.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -128
      ],
      "id": "21229ecd-58e2-4f21-8358-9eb0a7ad7881",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}/bodyPartList",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "exercisedb.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        96
      ],
      "id": "f513af86-06f2-43c3-8916-1aa736097346",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ab4c6042-5186-451b-a77a-afb9f71e70bb",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-03T06:42:37.696Z",
      "updatedAt": "2025-10-03T06:42:37.696Z",
      "role": "workflow:owner",
      "workflowId": "SSm5iZzYfWCI8GTJ",
      "projectId": "aL85WRDDRjE1DXrF"
    }
  ],
  "tags": [],
  "github_path": "workflows/SSm5iZzYfWCI8GTJ_http-variable.json"
}